/* General styling */
.App {
  text-align: center;
}



/* Header styling */
.App-header {
  background-color: #d50000;
  color: white;
  padding: 5px 0;
}

/* Ajustes del tamaño del título */
.App-header h1 {
  font-size: 38px; /* Tamaño más grande para el título principal */
  font-weight: bold; /* Asegura que sea negrita */
  margin-bottom: 10px; /* Espacio debajo del título */
}

/* Ajustes del tamaño de la descripción */
.App-header p {
  font-size: 20px; /* Ajusta el tamaño de la descripción */
  margin-top: 0; /* Elimina el margen superior para que esté más cerca del título */
}

/* Container for two columns */
.App-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 30px; /* Más espacio entre columnas */
  justify-items: center; /* Centrar los formularios en el eje horizontal */
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px; /* Ancho máximo del contenedor */
}

.App-column {
  width: 100%; /* Asegurar que las columnas ocupen todo el espacio asignado */
}

/* Form section styling */
.App-section {
  background-color: #f9f9f9;
  padding: 15px; /* Reduce el padding interno de los formularios */
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center; /* Centrar el texto dentro de cada formulario */
  min-height: 250px; /* Reduce la altura mínima de los formularios */
  display: flex;
  flex-direction: column; /* Mantiene una estructura flexible */
  justify-content: space-between; /* Asegura que el contenido esté espaciado */
  align-items: center; /* Centra los elementos dentro de la caja */
  margin-bottom: 30px; /* Espacio entre los formularios de la misma columna */
}

/* Estilo del link */
.App-link {
  color: #d50000;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px; /* Añade un pequeño margen encima del link */
}

@media (max-width: 768px) {
  .App-form-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}